.chat
{
	display:flex;
	height: 120vh;
}
.contact-container {
	overflow: auto;
	border: 4px solid black;
	border-radius: 25px;
	height: 90vh;
	width: 20rem;
	margin-left: 5rem;
	margin-top: 2rem;
}
.contact {
	display:block;
	border: solid 1px black;
	border-left:0px;
	border-right:0px;
	height: 12vh;
	max-width: 25rem;
}
.contact-contents {
	margin: 0.4rem;
}
.chat-window {
	overflow: auto;
	margin-right: 5rem;
	margin-left: 1rem;
	margin-top: 2rem;
	border-radius: 25px;
	border: 4px solid black;
	height: 90vh;
	width: 35rem;
}

.message-in {
	margin: 0.5rem;
	margin-right: 2rem;
	padding: 0.5rem;
	border: 1px solid black;
	background-color: #8c8c8c;
	border-radius:25px;
	max-width:30rem;
}
.message-out {
	margin: 0.5rem;
	margin-left: 2rem;
	padding: 0.5rem;
	border: 1px solid gray;
	background-color: lightgray;
	text-align: right;
	border-radius:25px
}
.send-button {
	margin: 0.5rem;
	position: absolute;
	top: 40.05rem;
	right: 16rem;

}
.send-text {
	margin: 0.5rem;
	position: absolute;
	top: 40rem;
	left: 27rem;
	border-radius:25px
}
