.container {
	position: relative;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: black;
	opacity: 75%;
	height:0%;
	
}


.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-shadow: -1px -3px 3px black;
	font-size: 6vw;
	font-weight: 20px;
	/* overflow: hidden;
    white-space: nowrap; */
}

.description {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-shadow: -1px -3px black; 
	font-size: 2.5vw;
	font-weight: 20px;
	overflow: hidden;
	padding-top: 5px;
}
.row {
	display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
	flex: 33.33%;
	padding: 5px;
}
.testimony {
	font-weight: 700;
	background-color: white;
	font-size:2vw;
	width: 40%;
	border: 5px solid dodgerblue;
	opacity: 75%;
	padding-top: 20px;
	
	padding: 15px;
	margin: auto;
	display: flex;
	align-items: center;
}

.trial {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	font-size: 2vw;
	font-weight: 700;
	text-decoration: underline;
	padding-top: 20px;
	padding-left: 25%;
	padding-right: 23%;
}
/* 
.button {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	
	left: 47%;
 	border: none;
 	color: white;
 	padding: 16px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition-duration: 0.4s;
  	cursor: pointer;
}



.button1 {
  background-color: white; 
  position:absolute;
  
  color: black; 
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
} */
