body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1.25rem;
	background-color: #f5f5f5;
}

/* Header */

.header {
	width: 100%;
	min-width: 100px;
	height: 5rem;
	background-color: #1a1a1d;
	color: white;
	display: flex;
	align-items: center;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1rem;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: right;
	padding-right: 5vw;
}

.header li {
	width: 5rem;
}

.header img {
	height: 1.75rem;
	width: 1.75rem;
}

.header .list-item {
	text-decoration: none;
	font-size: 1rem;
	height: 100%;
	color: #fff;
	transition: all 0.1s;
	display: flex;
	align-items: center;
}

.header .list-item:hover {
	background-color: #c3073f;
	border: 3px solid #f5f5f5;
}

.logo {
	min-width: 100px;
	display: flex;
	justify-content: center;
	padding-left: 5vw;
}

.header button {
	width: 10rem;
	display: none;
}

/* Reusable classes */

.invert {
	filter: invert(100%);
}

/* Mobile Navigation */

.nav-header {
	background-color: #242428;
	display: none;
}

.nav-header ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.nav-header li {
	list-style: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

.nav-header li:hover {
	background-color: #c3073f;
}

.nav-header a {
	text-decoration: none;
	color: white;
}

.nav-ico {
	width: 1rem;
	height: 1rem;
}

@media screen and (max-width: 768px) {
	.header button {
		display: block;
		border: 0;
		background: #242428;
		height: 100%;
	}
	.logo {
		padding-left: 0;
	}
	.header li {
		display: none;
	}
}

/* Footer */

.footer-container {
	background: #1a1a1d;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;
	display: flex;
	font-size: 0.9rem;
	letter-spacing: 0.01rem;
}

.footer-container ul {
	list-style: none;
	color: #fff;
	display: flex;
	align-items: center;
}

.footer-container li {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	margin: 0;
}

.footer-container img {
	height: 1.25rem;
	width: 1.25rem;
}

.footer-container a {
	text-decoration: none;
	color: #fff;
}

.legal-list {
	margin-left: 9vw;
}

.social-list {
	position: absolute;
	right: 0;
	margin-right: 15vw;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem; /* Footer height */
}

@media screen and (max-width: 768px) {
	.footer-container {
		height: 9rem;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		gap: 20px;
	}
	.legal-list {
		margin: 0;
		padding: 0;
	}
	.social-list {
		position: relative;
		right: auto;
		margin: 0;
		padding: 0;
	}
	#content-wrap {
		padding-bottom: 9rem;
	}
}

@media screen and (max-width: 330px) {
	.footer-container {
		height: 12rem;
	}
	.legal-list {
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
		gap: 20px;
	}
	#content-wrap {
		padding-bottom: 12rem;
	}
}
