body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1.25rem;
	background-color: #f5f5f5;
}

/* Header */

.header {
	width: 100%;
	min-width: 100px;
	height: 80px;
	background-color: #1a1a1d;
	color: white;
	display: flex;
	align-items: center;
}

.header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1rem;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: right;
	padding-right: 5vw;
}

.header li {
	width: 5rem;
}

.header img {
	height: 1.75rem;
	width: 1.75rem;
}

.header .list-item {
	text-decoration: none;
	font-size: 1rem;
	height: 100%;
	color: #fff;
	transition: all 0.1s;
	display: flex;
	align-items: center;
}

.header .list-item:hover {
	background-color: #c3073f;
	border: 3px solid #f5f5f5;
}

.logo {
	min-width: 100px;
	display: flex;
	justify-content: center;
	padding-left: 5vw;
}

.header button {
	width: 10rem;
	display: none;
}

.invert {
	filter: invert(100%);
}

/* Mobile Navigation */

.nav-header {
	background-color: #242428;
	display: none;
}

.nav-header ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

.nav-header li {
	list-style: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}

.nav-header li:hover {
	background-color: #c3073f;
}

.nav-header a {
	text-decoration: none;
	color: white;
}

.nav-ico {
	width: 1rem;
	height: 1rem;
}

@media screen and (max-width: 768px) {
	.header button {
		display: block;
		border: 0;
		background: #242428;
		height: 100%;
	}
	.logo {
		padding-left: 0;
	}
	.header li {
		display: none;
	}
}
.chat
{

}
.contact-container
{
	overflow: auto;
	border:3px solid black;
	height:100vh;
	max-width:20rem;
	margin:5rem
}
.contact
{
	border:2px solid black;
	height:12vh;
	max-width:25rem;
}
.chat-window
{
	border:3px solid black;
	height:100vh;
	max-width:35rem;
}

.message
{

}
